body {
    /* position: relative; */
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.icon i {
    padding: 7px;
    border-radius: 50%;
    border: 1px solid white;
}

i {
    margin: 10px;
}

.top {
    /* /* it is for the top bar above the nav` */
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    color: rgb(255, 255, 255);
}

.lef a {
    text-decoration: none;
    background-color: white;
    color: white;
    border: 1px solid white;
}

.top ul {
    /*to remove the bullets and to align them*/

    list-style: none;
    display: flex;
    gap: 15px;
    padding: 10px;
}

.top ul li {
    margin: 5px;
    padding: 5px;
    text-align: center;
    color: white;
}

.container {
    /*to make the container that has nav search bar and also some intro head*/
    margin: 0;
    /* position: relative; */
    height: 100vh;
    width: 100%;
    background-image: url(../img/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container::before {
    /*to make the background of the container dark*/
    position: absolute;
    height: 100vh;
    width: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
}

.content h1 {
    /*to make the heading of the intro*/
    color: white;
    font-size: 4rem;

}

.content p {
    /*to make the paragraph of the intro*/
    color: white;
    font-weight: lighter;
    font-size: 1.25rem;
    margin-top: 20px;
}

.container .content {
    /*to make the intro head para and also search bar in the center*/
    top: 30%;
    width: 100%;
    display: block;
    justify-content: space-around;
    position: absolute;
    text-align: center;
}

nav {
    margin: 0;
    /*to make the nav bar*/
    background-color: rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    height: 100px;
    position: sticky;
    width: 100%;

}

nav a {
    /*to make the nav bar links*/
    text-decoration: none;
    color: white;
}

.right {
    /*to make the right side of the nav bar basically its all cluster options i could also have used lists but i prefered this tho lets see how we will make that dropdown */
    margin: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    word-spacing: 25px;
    text-align: center;
}

.left {
    color: #86b817;
    /*to make the left side of the nav bar*/
    margin: 20px;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;

}

.search {
    /*to make the search bar and button in the center*/
    height: 100px;
    align-items: center;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search input {
    /*to make the search bar*/
    justify-content: center;
    border: 20px solid white;
    height: 15px;
    border-radius: 50px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 50%;


}

.search input:focus {
    /*to remove the outline of the search bar*/
    outline: none;
}

.search button {
    /*to make the search button*/
    border: none;
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background-color: #86b817;
    border-radius: 50px;
    position: absolute;
    right: 24%;
    height: 45%;
    width: 8%;
    cursor: pointer;
}

.right a:hover {
    /*to change the color of the links in the nav bar*/

    color: #86b817;
}

.right .reg:hover {
    /*to change the color of the register button*/
    background-color: white;
    color: #86b817;
}

.reg {
    /*to make the register button*/
    color: white;
    padding: 10px;
    background-color: #86b817;
    border-radius: 50px;
}

.mid-cont {
    position: relative;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    display: flex;
    gap: 50px;

    margin: 5%;


}

.mid-cont span {
    color: #86b817;
    font-family: 'Nunito', sans-serif;
    font-size: 2.5rem;
    list-style: none;
}

.cont p,
ul li {
    font-family: 'Heebo', sans-serif;
    font-size: 17px;
    color: rgb(96, 106, 115);
}

.cont ul {
    padding: 0;
    list-style: none;
}

.mid-cont h2 {
    margin: 0;
    color: #86b817;
}

.mid-cont h1 {
    margin: 0;
    color: rgb(16, 77, 75);
}

.mid-cont img {

    width: 100%;
}

.cleft {
    float: left;

}

.cright {
    padding: 60px;
    margin-right: 100px;
    float: right;
}

.rm {
    justify-content: space-between;

    display: flex;
}

.rm+a {
    max-width: fit-content;
    display: block;
    background-color: #86b817;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    padding: 20PX 60PX;
}

.midd {
    margin: 5% 0;
    position: relative;
    background-color: white;
    width: 100%;
    text-align: center;
}

.midd h2 {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: #86b817;
}

.midd h1 {
    margin: 0;
    font-size: 40px;
    font-weight: bolder;
    color: rgb(16, 77, 75);
}

.grid-box {
    /* position: relative; */
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-around;
    width: 100%;

}

.inside-grid {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    /* width: 20%; */
    margin: 20px;
    padding: 10px;
    text-align: left;
}

.inside-grid:hover {
    color: white;
    background-color: #86b817;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.inside-grid h1 {
    padding: 30px;
    padding-bottom: 0px;
    /* margin: 10px; */
    font-size: 20px;
    font-weight: 600;
    color: rgb(16, 77, 75);
}

.inside-grid p {
    padding: 30px;
    padding-top: 3px;
    /* margin: 10px; */
    font-size: 15px;
    font-weight: 400;
    color: rgb(96, 106, 115);
}

.inside-grid:hover p {
    color: white;
}

.inside-grid:hover h1 {
    color: white;
}

.inside-grid i {
    font-size: 50px;
    margin: 30px;
    border: 500px;
}

.Destination {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.des img {
    width: 100%;
}

.des {
    justify-content: space-between;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    width: 50%;

    /* flex-direction: column; */

}

.des2 {
    overflow: hidden;
    display: flex;
    gap: 20px;
    align-self: end;
    width: 100%;
    justify-content: space-between;
}

.des2 img {
    width: 100%;
}

.des3 {
    overflow: hidden;
}

.des3 img {
    width: 100%;
}

.Destination img:hover {
    color: white;
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.packages {
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2); */
    margin: 15px;
    /* overflow: hidden; */
    display: flex;
    /* height: 100vh; */
    gap: 15px;
    justify-content: space-evenly;
}

.packages img {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.packages .imo {
    overflow: hidden;
}

.packages img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.packages .p {
    border: 1px solid #dee2e6;
    justify-content: space-around;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    flex-wrap: wrap;
}

.packages h1 {
    font-family: 'Nunito', sans-serif;
    color: #86b817;
    text-align: center;
}

.packages p {

    flex-wrap: wrap;
    font-family: 'Nunito', sans-serif;
    color: #86b817;
    text-align: center;
}

.packages a {


    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px;

    background-color: #86b817;
}

.packages .a {
    border-radius: 30px 0 0 30px;
}

.packages .b {
    border-radius: 0 30px 30px 0;
}

.packages .rb {

    text-align: center;
}
.comp{
    padding-bottom: 15px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);  
}
.form {
    overflow: hidden;
    margin: 50px;
    padding: 55px;
    height: 70vh;
}
.form2{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/booking.jpg);
}
.form2::before {
    /*to make the background of the container dark*/
    position: absolute;
    height: 70vh;
    width: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.5);
}
.spaceform{
    /* overflow: hidden; */
    display: flex;
    /* color: #86b817; */
    margin: 25px;
    gap: 40px;
    padding: 20px 25px;
    position: absolute;
    height: 55vh;
}
.form h1 {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 40px;
    text-align: left;
    margin-top: 5px;
}
.form h2{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: white;
    text-align:left;
    margin-bottom:5px ;
}
.leftform{
    
    height: 60vh;
    width: 50%;
    /* background-color: rgba(0, 0, 0, 0.5); */

}
.leftform p{
    font-family: "Heebo",sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
    text-align: left;
  
}
.leftform a{
    margin-bottom:50px;
    max-width: fit-content;
    display: block;
    background-color: transparent;
    text-decoration: none;
    border: 1px solid white;
    color: white;
    margin-top: 30px;
    padding: 20PX 60PX
}
.leftform   a:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
}
.rightform{
    width: 50%;
    height: 60vh;
    /* background-color: rgba(0, 0, 0, 0.5); */
}   
.name-mail{
    display: flex;
    gap: 20px;
    height: 60px;
    background: transparent;
    justify-content: space-between;
    margin-bottom: 30px;
}
.name{
    color: rgb(143, 127, 127);
    width: 50%;
    background: transparent;
    border: 1px solid white;  
    padding: 10px; 
    
}
.mail{
    color: rgb(143, 127, 127);
    width: 50%;
    background: transparent;    
    border: 1px solid white;   
    padding: 10px;
}

.name:focus{
    outline: 5px solid #86b817;
    transition: 0.1s;
}
.mail:focus{
    transition: 0.1s;
    outline: 5px solid #86b817;
}
.tex{
    width: 100%;
    height: 100px;
}
#textarea{
    font-family: "Heebo",sans-serif;
    width: 97.5%;
    height: 80px;
    border: 1px solid white;
    background-color: transparent;
    color: rgb(143, 127, 127);
    padding-top: 10px;  
    padding-left:10px ;
    font-size: medium; 
}
#textarea:focus{
    outline: 5px solid #86b817;
    transition: 0.1s;
}
.rightform button{
    background-color: transparent;
    margin-top: 10px;
    border: 1px solid white;
    padding: 25px;
    font-size: 20px;
    width: 100%;
    color: white;
    font-weight: 500;

}
.rightform button:hover{
    font-weight: 500;
    color: black;
    background-color: white;
    transition: 0.3s;
}
.process{
    display: flex;
    margin: 25px;
    /* gap: 0px; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contentp{
    height: fit-content;
    width: 25%;
    border: 1px solid #86b817;
    padding: 20px;
}
.contentp h1{
    font-family: 'Nunito', sans-serif;
    color: rgb(16, 77, 75);
    font-size: 20px;
    text-align: center;
    margin-top: 15px;

}
.contentp p{
    font-family: 'Heebo', sans-serif;
    color:rgb(96, 106, 115);
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.guide{
    
    display: flex;
    margin: 25px;
    /* gap: 0px; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.guide-img{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    width: 20%;
}
.guide img{
    width: 100%;
}
.guide h1{
    font-family: 'Nunito', sans-serif;
    color: rgb(16, 77, 75);
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;

}
.guide h2{
    font-family: 'Heebo', sans-serif;
    color:rgb(96, 106, 115);
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
    font-weight: 300;
}
.guide img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.imggg{
    overflow: hidden;
}
/* .guide-h{
    position: absolute;
} */
.foot{
    color: white;
    background-color: #14141F;
    padding:3rem;
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
}
